<launch>
    <arg name="project_path" value="$(find dummy_robot1)/" />

    <!-- Core Functionality -->
    <include file="$(find mhri)/launch/bringup_core.launch">
        <arg name="project_path" value="$(arg project_path)/" />
    </include>

    <!-- Renderer Functionality-->
    <include file="$(find motion_renderer)/launch/bringup_renderer.launch">
        <arg name="fake_render_speech" value="false" />
    </include>

    <!-- Dialog Functionality -->
    <include file="$(find mhri_dialog)/launch/bringup.launch">
        <!-- <arg name="script_path" value="$(arg project_path)/scripts" /> -->
        <arg name="script_path" value="/home/byeongkyu/catkin_ws/src/mhri_workspace/domain_scripts/skincare_scenario" />
    </include>

    <!-- Bringup Social Perception -->
    <include file="$(find speech_recognizer_py)/launch/bringup_perception.launch" />
    <include file="$(find static_object_info_publisher)/launch/bringup_publisher.launch" />

    <!-- Bringup Sensory Perception -->
    <!-- <include file="$(find google_cloud_speech)/launch/bringup.launch" /> -->

    <node name="naver_tts" type="speech_node.py" pkg="render_speech_naver_voice_tts" output="screen">
        <param name="config_file" value="$(find render_speech_naver_voice_tts)/config/speech_conf.json" />
    </node>
</launch>
